{% extends "layout_a.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="containerL">
<div id="loader" class="center"></div>
<div id="viewer" class="odd">
    <div class="soon"><h1> COMING SOON </h1></div>
    
</div>
</div>

<script>
    // preload code
        
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector(
            "body").style.visibility = "hidden";
            document.querySelector(
            "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
            "#loader").style.display = "none";
            document.querySelector(
            "body").style.visibility = "visible";
        }

        resize_objects();
    };
</script>

{% endblock %}